a{
  color: pink;
}

a:hover{
  color: blue;
}

a:visited{
  color: green;
}

a:focus{
  border: 10px solid: red;
}

a:first-child{
  font-weigth: bold;
}

a:last-child{
  background-color: black;
}

a
